/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.bannersize{
    height:400px;
    width:100%;
}
.pizzaTitle{
    margin-top:20px;

}
.cen {
    margin: auto;
    width: 0%;
}
.img{
    width:200px;
    height:200px;

}
.btn {
    white-space: nowrap;
    text-align: center;
}