@model CustomerOrderViewModel

@{
    ViewData["Title"] = "Contact Details";
}

<h4>Contact Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="CustomerDetails" asp-action="Index"  method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="OrderDetail.Pizza" value="@Model.OrderDetail.Pizza" />
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails.CustomerName" class="control-label">Name:</label>
                <input asp-for="CustomerDetails.CustomerName" class="form-control" />
                <span asp-validation-for="CustomerDetails.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails.CustomerEmail" class="control-label">Email:</label>
                <input asp-for="CustomerDetails.CustomerEmail" class="form-control" placeholder="xyz@abc.com"/>
                <span asp-validation-for="CustomerDetails.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails.CustomerPhoneNumber" class="control-label">Phone Number:</label>
                <input asp-for="CustomerDetails.CustomerPhoneNumber" class="form-control" placeholder="0000-000000"/>
                <span asp-validation-for="CustomerDetails.CustomerPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails.CustomerAddress" class="control-label">Address:</label>
                <input asp-for="CustomerDetails.CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerDetails.CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts{ 
      @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

    }