@model IEnumerable<PizzaOneBox.Models.HomePagePizzaModel>


@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<body>

    <div>
        <img class="image-resize bannersize" asp-append-version="true" src="~/Pizza_images/banner.jpg" alt="banner" />
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row py-5  ">
            @foreach (var pizza in Model)
            {
                <div class=" col-lg-4">
                    <div class="card md-4 shadow-lg p-3 mb-5 bg-white rounded " style="border-radius:5px; ">
                        <img src=@pizza.PhotoPath class=" card-img-top pizzaphoto " />
                        <div class="card-body">
                            <h4 class="card-title">@pizza.PizzaName</h4>
                            <p class="card-text ">@pizza.PizzaDescription </p>
                            <hr />
                            <div class="d-flex justify-content-between align-items-center py-3">
                                <p> £@pizza.PizzaCost </p>
                                <a href="/SelectedPizza/SelectedPizza/@pizza.Id" class="btn btn-primary"> Select </a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

</body>
</html>