@model IEnumerable<PizzaOneBox.Models.Pizza>


@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid">
        <img class="img-fluid image-resize bannersize" asp-append-version="true" src="~/Pizza_images/banner.jpg" alt="banner" />
    </div>
    <br />
    <br />
    <div class="container" >
        <div class="row py-5">
            @foreach (var pizza in Model)
            {
                <div class=" col-md-4" >
                    <div class="card mb-4 " style=" height:95%; " align-self="normal">
                        <img src=@pizza.ImagePath style= "width:100%; height:100%" class=" card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">@pizza.PizzaName</h4>
                            <p class="card-text" >@pizza.PizzaToppings </p> 
                            <hr />
                            <div class="d-flex justify-content-between align-items-center ">
                                <p style="margin-bottom:3% ;">£@pizza.PizzaPrice </p> 
                                <a href="/SelectedPizza/SelectedPizza/@pizza.Id" class="btn btn-primary"> Select </a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

</body>
</html>